<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estadisticas.css">
    <title>Tarea 01</title>
</head>
<body>
    
<div>
    <h3>Estadisticas</h3>
</div>
<table>
        
<tr>
  <td>
    <img src="static/barras.png" alt="Foto 1" width="420" height="340">
  </td>
</tr>
<tr>
  <td>
    <img src="static/avisos.png" alt="Foto 1" width="420" height="340">
  </td>
</tr>
<tr>
  <td>
    <img src="static/avisos2.png" alt="Foto 1" width="420" height="340">
  </td>
</tr>

</table>
    <a class="btn" href="{{ url_for('portada') }}">Volver</a>
    <script src="../static/js/estadisticas.js"></script>
     </body>
</html>